.form {
    display: flexbox;
    flex-direction: column;  
}

.button-center {
    background-color: rgb(212,212,212); /* Personaliza el color del botón aquí */
    color: #ffffff !important;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  