.Home {
    text-align: center;
  }
  
  .Home-logo {
    height: 40vmin;
    pointer-events: none;
  }
  
  @media (prefers-reduced-motion: no-preference) {
    .Home-logo {
      animation: Home-logo-spin infinite 20s linear;
    }
  }
  
  .Home-header {
    background-color: #080c14;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: rgb(235, 236, 224);
  }
  
  .Home-link {
    color: #61dafb;
  }
  
  @keyframes App-logo-spin {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }

  .foto {
    background-image: url(../../Images/banner.jpg);
    max-width: 100%;
    height: auto;
  }

  .home-image-section{
    max-width: 600px;
    flex: 1;
  }

  .home-banner1-container {
    position: relative;
    top: -50px;
    left: 20px;
    display: flex;
    padding-top: 3rem;
  }

  .home-image-banner1-container {
    position: absolute;
    top: 50px;
    left: 30px;
    z-index: -2;
    max-width: 1000px;
  }

  .home-textsection-banner1-container {
    position: absolute;
    top: 1px;
    right: 160px;
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
  }

  .primary-heading {
    font-size: clamp(2rem, 5vw, 4rem);
    color: #4c4c4c;
    /* line-height: 5rem; */
    max-width: 600px;
  }
  
  .main-text {
    font-size: clamp(1rem, 3vw, 1.5rem);
    max-width: 500px;
    color: #6a6a6a;
    margin: 1.5rem 0rem;
  }

  .btn.btn-primary {
    background-color: blue; /* Cambia el color de fondo según tus preferencias */
    color: white; /* Cambia el color del texto según tus preferencias */
    padding: 10px 20px; /* Ajusta el relleno para el tamaño del botón */
    border: none; /* Elimina el borde del botón si lo deseas */
    border-radius: 5px; /* Agrega bordes redondeados si lo deseas */
    cursor: pointer; /* Cambia el cursor al pasar sobre el botón */
  }
  
  .btn.btn-primary:hover {
    background-color: darkblue; /* Cambia el color de fondo al pasar el cursor */
  }